@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap:100,200,300,400,500,600,700');

/*----------------------------------------------Colours */

.bg-color-name-title {
    background-color: #fafafa;
}

.ui-menu-color {
    background-color: #4a4a4f;
}

/*-----------------------------------------------General */

html{
    height: 100%;
}

body{
    min-height: 100%;
    margin-bottom: 70px;
    font-family: sans-serif;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

p {
    font-size: 25px;
    padding: 20px;
}

.section-heading{
    font-family: "Cookie", sans-serif;
    font-weight: 65;
    font-size:70px;
    text-decoration: underline;
    margin: 20px;
}

.about-headings{
    font-size:35px;
    padding-bottom: 10px;
}

section div p {
    text-align: center;
    word-spacing: initial;
}
/*-----------------------------------------------Heading */

header {
    margin: 0;
}

.heading{
    margin-left: 0;
}

.logo {
    background: url("../images/dorcas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Cookie", sans-serif;
    font-weight: 100;
    font-size: 100px;
    margin-top: 30px;
    margin-left: 20px;
    color: #c47021;
}

.title {
    font-family: "Cookie", sans-serif;
    font-weight: 75;
    font-size:50px;
    margin-left: 80px;
    margin-bottom: 90px;
    text-align: left;
    color:#c47021;
}

#nav {
    margin: 0
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-family: "Cookie", sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}

#nav a {
  text-decoration: none;
  color: #fff;
}

#nav a:hover {
  background-color: #fff;
  color: #4a4a4f;
}

/*-----------------------------------------------Footer */
footer {
    background-color: #4a4a4f;
    color: #fff;
    min-height:70px;
    margin: 0;
    position: fixed;
    bottom: 0;
}

.social-links {
    padding-top: 15px;
}

.social-links li a i {
    color:  #fff;
    font-size: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*-----------------------------------------------Work Experience */

.cv-heading {
   font-size: 40px;
    margin-bottom: 20px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #0a0202;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: inline;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #c47021;
}

.experience {
    margin: 20%;
    margin-top: 40px;
} 

/*-----------------------------------------------Contact Form */

.contact-heading {
    font-family: "Cookie", sans-serif;
    font-weight: 65;
    font-size: 70px;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 40px;
}

.contact-form {
    margin: 0 auto;
    max-width: 50%;
    margin-bottom: 50px;
}

button[type="button"] {
    margin-top: 25px;
    font-family: sans-serif;
}