@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap:100,200,300,400,500,600,700');

/*----------------------------------------------Colours */

.bg-color-name-title {
    background-color: #fafafa;
}

.ui-menu-color {
    background-color: #4a4a4f;
}

/*-----------------------------------------------General */

html{
    height: 100%;
}

body{
    min-height: 100%;
    margin-bottom: 70px;
    font-family: sans-serif;
    background: #fff;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

p {
    font-size: 25px;
    padding: 20px;
    word-spacing: normal;
}

.section-heading{
    font-family: "Cookie", sans-serif;
    font-weight: 100;
    font-size:70px;
    text-decoration: underline;
    margin: 20px;
}

.about-headings{
    font-size:35px;
    padding-bottom: 10px;
}

section div p {
    text-align: justify;
}

hr {
    padding-bottom: 20px;
}
/*-----------------------------------------------Heading */

header {
    margin: 0;
}

.heading{
    margin-left: 0;
}

.logo {
    background: url("../images/dorcas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 340px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Cookie", sans-serif;
    font-weight: 100;
    font-size: 100px;
    margin-top: 30px;
    margin-left: 20px;
    color: #c47021;
}

.title {
    font-family: "Cookie", sans-serif;
    font-weight: 100;
    font-size:50px;
    margin-left: 80px;
    margin-bottom: 90px;
    text-align: left;
    color:#c47021;
}

/*-----------------------------------------------Navigation */

.nav-trigger {
    display: none;
}

.nav-trigger-label {
    position: absolute;
    top: 0;
    right: 1em;
    margin-top: 1.5em;
    margin-right: 4em;   
}

.nav-trigger-label span,
.nav-trigger-label span::before,
.nav-trigger-label span::after {
    display: block;
    background: #4a4a4f;
    height: 4px;
    width: 32px;
    position: relative;
}

.nav-trigger-label span::before,
.nav-trigger-label span::after {
    content: "";
    position: absolute;
}

.nav-trigger-label span::before {
    bottom: 7px;
}

.nav-trigger-label span::after {
    top: 7px;
}


#nav {
    margin: 0;
    display: none;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-family: "Cookie", sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

#nav a {
  text-decoration: none;
  color: #fff;
}

#nav a:hover {
  background-color: #fff;
  color: #4a4a4f;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  
}

.nav-trigger:checked ~ #nav {
    display: block;
}


/*-----------------------------------------------Footer */
footer {
    background-color: #4a4a4f;
    color: #fff;
    min-height:70px;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
}

.social-links {
    padding: 15px;
}

.social-links li a i {
    font-size: 20px;
    color:  #fff;
    margin: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #c47021;
}

/*-----------------------------------------------CV */

.cv-heading {
   font-size: 40px;
    margin-bottom: 20px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #0a0202;
    border-left: 3px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: inline;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 20px;
    height: 20px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -12px;
    border-radius: 12px;
    content: '';
    background: rgb(230, 125, 5);
}

.experience {
    margin: 40px 20% 10% 30%;
} 

.cv-pdf i{
    font-size: 40px;
    color: #fff;
    background-color: #000;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
}

.cv-pdf i:hover {
    
    color: rgb(230, 125, 5);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*-----------------------------------------------Contact Form */

.contact-heading {
    font-family: "Cookie", sans-serif;
    font-weight: 100;
    font-size: 70px;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 40px;
}

.contact-form {
    margin: 0 auto;
    max-width: 50%;
    margin-bottom: 50px;
}

button[type="submit"] {
    margin-top: 25px;
    font-family: sans-serif;
}

/*-----------------------------------------------Portfolio */

.portfolio-heading{
    font-size: 50px; 
}

.portfolio-subheading{
    margin-bottom: 50px;
}

img{
    margin-bottom: 10%;
}

/*-----------------------------------------------Media Queries*/

@media screen and (min-width: 1400px) {
    #nav {
        margin: 0;
        display: block;
    }

    .nav-trigger-label {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #nav {
        margin: 0;
        display: block;
    }

    .nav-trigger-label {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #nav {
        margin: 0;
        display: block;
    }
   
    .nav-trigger-label{
        display: none;
    }

    .timeline-item:before {
        content: attr(data-dates);
        position: absolute;
        left: 2.5em;
        top: 3em;
        display: inline;
        font-family: sans-serif;
        font-weight: 700;
        font-size: 1em;
        padding: 0;
        margin: 0;
    }

    .contact-form {
    margin: 0 auto;
    max-width: 70%;
    margin-bottom: 50px;
    }
}

@media screen and (max-width: 576px) {
    .nav-trigger-label span,
    .nav-trigger-label span::before,
    .nav-trigger-label span::after {
        display: block;
        background: #4a4a4f;
        height: 4px;
        width: 30px;
        position: relative;
    }

    .nav-trigger-label span::before,
    .nav-trigger-label span::after {
        content: "";
        position: absolute;
    }

    .nav-trigger-label span::before {
        bottom: 7px;
    }

    .nav-trigger-label span::after {
        top: 7px;
    }

    .name {
        font-family: "Cookie", sans-serif;
        font-weight: 100;
        font-size: 65px;
        margin-top: 60px;
        margin-left: 10px;
        text-align: center;
        color: #c47021;
    }

    .title {
        font-family: "Cookie", sans-serif;
        font-weight: 100;
        font-size:40px;
        margin-left: 30px;
        margin-bottom: 90px;
        text-align: center;
        color:#c47021;
    }

    p {
    font-size: 25px;
    padding-bottom: 20px;
    margin: 0;
    word-spacing: normal;
    }

    .contact-form {
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 40px;
    }
}